<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Center</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <!-- <div class="app">
      <div class="container">Hello world</div>
    </div> -->

    <div class="flex-center">
      <div>Div 1</div>
      <div>Div 2 có nhiều nội dụng hơn</div>
      <div>Div 3</div>
    </div>
    <hr />
    <main class="inline-block-center">
      <div>Thẻ div 1</div>
      <div>Thẻ div 2 có nhiều nội dung hơn một chút</div>
      <div>Thẻ div 3</div>
    </main>
  </body>
</html>
