* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 50%;
  margin-top: 100px;
  border: 1px solid red;
}

.flex-center {
  border: 1px solid red;
  display: flex;
  justify-items: center;
  align-items: center;
}

.flex-center div {
  background-color: blue;
  color: #fff;
  padding: 15px;
  /*max-width: 125px;*/
  margin: 5px;
  width: 100%;
}

.inline-block-center {
  text-align: center;
}
.inline-block-center div {
  display: inline-block;
  text-align: left;
}
